.Side-left {
    background-color: #00a8a4;
    height: 100%;
    left: -100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    transform: skew(313deg);
    width: 150%;
    z-index: -1;
    box-shadow: 18px 11px 82px 16px rgba(0,0,0,0.75);

}


@media only screen and (max-width: 600px) {
    .Side-left {
        background-color: #00a8a4;
        height: 100%;
        left: -100%;
        overflow: hidden;
        position: absolute;
        top: 0;
        transform: skew(313deg);
        width: 104%;
        z-index: -1;
        box-shadow: 18px 11px 82px 16px rgba(0,0,0,0.75);
    
    }
  }