.mat-toolbar {
    color: white;
    top: 0;
    z-index: 1;
    background: LIGHTSEAGREEN !important;
}

.spacer {
    flex: 1 1 auto;
}

.mat-button {
    color: white;
}

.explore {
    background-color: white !important;
    height: 100vh;
    overflow: hidden;

  }
