ion-button {
    --background: #185a9d;
  }
  
  ion-checkbox {
    --background-checked: #185a9d;
    --border-color-checked: #185a9d;
  }ion-button {
    --background: #185a9d;
  }
  
  ion-checkbox {
    --background-checked: #185a9d;
    --border-color-checked: #185a9d;
  }