<ion-menu contentId="main-content" class="sb-side-menu" side="start" persistent="true">
  <ion-header>
    <ion-toolbar class="toolbar {{title}}">
      <ion-title>
        <!-- <img class="img-container" src="{{appLogo}}" alt="app logo"> -->
        <span class="app-name">{{appName}}</span>
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content style="--background: white;">
    <div class="menu-section"> 
      <ion-list class="sb-menu-list" lines="none">

        <ion-item *ngFor="let user of supportedUserTypeConfig" (click)="emitSideMenuItemEvent($event, user)">
          <span class="sb-menu-icon sb-pt-6">
            <img src="assets/{{user?.image}}" aria-hidden="true" class="tool-icon" style="width: 2.5rem;" alt="select {{user.appName}}">
          </span>
          <div class="sb-teacher">
            <div class="sb-menu-item" role="button">{{user.appName}}</div>
          </div>
        </ion-item>
      </ion-list>
    </div>
  </ion-content>
  <ion-footer class="side-menu-footer" style="height: 6rem; padding: 26px;">
    Version - 00.01ver
  </ion-footer>
</ion-menu> 

<ion-header>
  <ion-toolbar class="toolbar {{title}}" id="main-content">
    <ion-buttons class="sb-hamburger pl-10" slot="start">
      <ion-button class="sb-hamburger-menu sb-hamburger-icon" icon-only (click)="toggleMenu()">
        <ion-icon name="menu" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title style="font-size: 20px;">
      <ion-label>{{title}}</ion-label>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <div class="card" *ngFor="let userTypeConfig of supportedUserTypeConfig;" style="margin-left: 25%;">
      <div *ngIf="userTypeConfig.selected" class="card-container" role="button" (click)="selectedUserType = userTypeConfig?.code; userType = userTypeConfig.name;" [class.selected]="selectedUserType === userTypeConfig?.code">
        <div class="check-icon">
            <img class="icon-check" alt="" [class.selected]="selectedUserType === userTypeConfig?.code" src="assets/imgs/ic_check.svg"/>
        </div>
        <img class="thumbnail" alt="" src="assets/{{ userTypeConfig?.image }}" [ngClass]="{'coming-soon-image': !userTypeConfig?.isActive}" />
        <h4 class="card-title sb__ellipsis sb__ellipsis--two">{{ userTypeConfig?.appName }}</h4>
      </div>
    </div>
  </div>
  <ion-item lines="none">
    <h4 style="text-align: center; font-style: italic; width: 100%;">{{description}}</h4>
  </ion-item>
</ion-content>

<ion-footer class="{{title}}">
  <div class="qr-btn-container">
    <div class="qr-btn" role="button" (click)="openQRScanner()">
      <img src="assets/ic_qr_scanner.svg" alt="">
      <span style="color: black;">Scan</span>
    </div>
  </div>
</ion-footer>
