<div class="row d-flex flex-row">
    <div *ngIf="list && list.length > 0" class="flex heightFix col-9">
        <ng-container *ngFor="let column of list; let i = index;">
            <div class="flex-1 felx-col  col-container containers{{list.length}}" id="box{{i+1}}Container">
                <div class="category-heading-sticky">
                    <div class="category-heading-container d-flex justify-content-center">
                        <div class='category-header justify-content-center'>
                            <div class="" id="box{{i}}Header">
                                <mat-icon [ngStyle]="{'color':'blue'}"></mat-icon>
                                <h2 class="heading-color">{{column.name}}</h2>
                                <ng-container *ngIf="i != 0 && categoryList?.length > 0; else firstColumn">
                                    <ng-container *ngFor="let category of categoryList">
                                        <ng-container *ngIf="(column.code == category.category) && column.index !== 1">
                                        </ng-container>
                                    </ng-container>
                                </ng-container>
                                <ng-template #firstColumn>
                                </ng-template>

                            </div>
                        </div>

                    </div>
                </div>
                <div class="padding-x2 cat-columns container" id="box{{i+1}}">
                    <lib-taxonomy-column-view *ngIf="loaded[column.code]" #selectedTaxonomyTerm [column]="column"
                        [containerId]="'box'+(i+1)" (updateTaxonomyTerm)="updateTaxonomyTerm($event)"
                         (cardsCount)="getNoOfCards($event)">
                    </lib-taxonomy-column-view>
                </div>
            </div>
        </ng-container>
    </div>
    <div class="border-start details col-3">
        <div class="" *ngIf="nodeType==='normal'">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th class="d-flex justify-content-center">Description</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{nodeDescription}} </td>

                    </tr>
                </tbody>
            </table>
        </div>
        <div class="" *ngIf="nodeType==='leaf'">
            <div>
                <table class="table table-striped table-bordered" *ngIf="learningList.length>0">
                    <thead>
                        <tr>
                            <th class="d-flex justify-content-center">Illustrative Learning Outcomes</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let learning of learningList">
                            <td>{{learning.name}} </td>

                        </tr>
                    </tbody>
                </table>

                <div class="btn d-flex justify-content-center">
                    <button mat-raised-button (click)="suggestActivity()" *ngIf="nodeCompetency">Suggest
                        Activity</button>
                </div>
                <mat-progress-bar *ngIf="showLoader" mode="indeterminate"></mat-progress-bar>
                <span *ngIf="showLoader">Fetching Activities...</span>
                <span *ngIf="errorData" class="error">An Unexpected Error Occured! Please Try Again</span>
                <table *ngIf="responseData" class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th class="d-flex justify-content-center">Suggested Activities</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <ul *ngIf="!ol">
                                <li *ngFor="let line of responseData">
                                  {{line}}
                                </li>
                              </ul>
                              <dl *ngIf="ol">
                                <dd *ngFor="let line of responseData">
                                  {{line}}
                                </dd>
                              </dl>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div *ngIf="!(list && list.length > 0 )" class="flex heightFix ">
        <h1>No Data Found</h1>
    </div>
</div>


<div *ngIf="isLoading" class="spinner">
    <mat-spinner></mat-spinner>
</div>