<div class="d-flex flex-column justify-content-center align-item-center align-self-center text-center">
  <div class="container">
    <div class="banner d-flex flex-column justify-content-center align-item-center text-start py-4">
      <h1>Childhood Connect</h1> 
      <h2>Become part of a transformative journey>>></h2>
    </div>
    <div class="row d-flex justify-content-center search mt-4 pt-5">
      <p> The new National Curriculum Framework for Foundational Stage is a transformative framework that aims
        integrated, holistic approach to Early Childhood Care and Education for children aged 3-8, aiming to improve the
        quality of educational content and outcomes, thus positively impacting children's lives towards a better future.
      </p>
      <div class="d-flex flex-column justify-content-center align-item-center mt-4 mb-5  w-50 m-auto">
        <mat-form-field class="search-bar">
          <mat-label class="input-label">Want to know more about it? Ask a question and hit Enter</mat-label>
          <input type="text" matInput [(ngModel)]="searchQuery" (keyup.enter)="search()">
        </mat-form-field>
        <mat-progress-bar *ngIf="showLoader" mode="indeterminate"></mat-progress-bar>
        <span *ngIf="showLoader">Please wait for sometime...</span>
        <span *ngIf="errorData" class="error">An Unexpected Error Occured! Please Try Again</span>

        <div *ngIf="responseData" class="responseData  p-2 mb-2 border border-3 rounded">
          {{responseData}}
        </div>
        <button *ngIf="showButton" [disabled]="!showButton" class="ask-btn btn--blue" (click)="gotoBot()">Ask More</button>
      </div>
    </div>
    <div class="row">
      <div class="scroll-container d-flex flex-column flex-md-row justify-content-between mt-4">
       
        <button class="btn btn-arrow btn-border" routerLink="/explore">
          <span>Explore NCF<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 36.1 25.8" enable-background="new 0 0 36.1 25.8" xml:space="preserve"><g><line fill="none" stroke="#FFFFFF" stroke-width="3" stroke-miterlimit="10" x1="0" y1="12.9" x2="34" y2="12.9"></line><polyline fill="none" stroke="#FFFFFF" stroke-width="3" stroke-miterlimit="10" points="22.2,1.1 34,12.9 22.2,24.7   "></polyline></g></svg></span>
        </button>
        
        <button class="btn btn-arrow btn-border" routerLink="/content">
          <span>Tag your Content<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 36.1 25.8" enable-background="new 0 0 36.1 25.8" xml:space="preserve"><g><line fill="none" stroke="#FFFFFF" stroke-width="3" stroke-miterlimit="10" x1="0" y1="12.9" x2="34" y2="12.9"></line><polyline fill="none" stroke="#FFFFFF" stroke-width="3" stroke-miterlimit="10" points="22.2,1.1 34,12.9 22.2,24.7   "></polyline></g></svg></span>
        </button>
        
        <button class="btn btn-arrow btn-border" routerLink="/explorecontent">
          <span>Explore Content<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 36.1 25.8" enable-background="new 0 0 36.1 25.8" xml:space="preserve"><g><line fill="none" stroke="#FFFFFF" stroke-width="3" stroke-miterlimit="10" x1="0" y1="12.9" x2="34" y2="12.9"></line><polyline fill="none" stroke="#FFFFFF" stroke-width="3" stroke-miterlimit="10" points="22.2,1.1 34,12.9 22.2,24.7   "></polyline></g></svg></span>
        </button>
      </div>
    </div>
  </div>